.env
.env.*
.git
.git/**
.venv
venv
env
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache
.coverage
htmlcov
*.log

*.db
*.sqlite
*.sqlite3

node_modules
dist
build
tests/

.vscode/
.idea/
*.code-workspace
scratch/
